rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isMember() {
      return request.auth != null
        && exists(/databases/$(database)/documents/members/$(request.auth.uid));
    }
    function secret() {
      return get(/databases/$(database)/documents/config/secret).data.key;
    }
    match /members/{uid} {
      allow create, update: if request.auth != null && request.auth.uid == uid
                            && request.resource.data.key == secret();
      allow read: if isMember();
      allow delete: if false;
    }
    match /config/secret   { allow read, write: if false; }
    match /config/features { allow read: if true; allow write: if isMember(); }
    match /users/{uid}/progress { allow read: if isMember(); allow write: if isMember() && request.auth.uid == uid; }
    match /users/{uid}/{document=**} { allow read, write: if isMember() && request.auth.uid == uid; }
    match /shared/{document=**}     { allow read, write: if isMember(); }
    match /translations/{id}        { allow read: if isMember(); allow write: if false; }
  }
}
